.crimes-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
    position: relative;
}

.crimes-form input {
    margin: 0;
}

.crimes-form button {
    margin-left: 10px;
}

.crimes-form p {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#crimes-map {
    width: 100%;
    height: 460px;
    background-color: #bebebe;
    margin: 20px 0 60px 0;
}

@media (max-width: 767px){
    .crimes-form {
        flex-direction: column;
    }
    .crimes-form button {
        margin: 10px 0;
    }
    .crimes-form p {
        bottom: 0;
        transform: none;
    }
}